<div class="row pt-md-5">
  <div class="col-md-8 m-auto">
    <div class="card">
      <div class="card-header">
        <h4 style="font-family: 'Fjalla One', sans-serif; ">Sethlans Setup Wizard</h4>
      </div>
      <div class="card-body">
        <router-outlet *ngIf="setupFormData.setupProgress === progress.START" name="mode"></router-outlet>
        <router-outlet *ngIf="setupFormData.setupProgress === progress.REGISTER_USER"
                       name="user_register"></router-outlet>
        <router-outlet *ngIf="setupFormData.setupProgress === progress.SERVER" name="server"></router-outlet>
        <router-outlet *ngIf="setupFormData.setupProgress === progress.NODE" name="node"></router-outlet>
        <router-outlet *ngIf="setupFormData.setupProgress === progress.DUAL" name="dual"></router-outlet>
        <router-outlet *ngIf="setupFormData.setupProgress === progress.SETTINGS" name="settings"></router-outlet>
        <router-outlet *ngIf="setupFormData.setupProgress === progress.SUMMARY" name="summary"></router-outlet>
        <router-outlet *ngIf="setupFormData.setupProgress === progress.FINISHED" name="finished"></router-outlet>
      </div>
    </div>
  </div>
</div>

<!--<div>-->
<!--Debugging:-->
<!--<pre>{{ setupFormData | json }}</pre>-->
<!--</div>-->
