<div class="row pb-5">
  <div class="col-md-10 m-auto">
    <div class="card">
      <div class="card-header">
        <h2>
          <span>Servers</span>
        </h2>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table datatable class="table">
            <thead class="thead-light">
            <tr>
              <th>Server Status</th>
              <th>Hostname</th>
              <th>IP Address</th>
              <th>Port</th>
              <th data-orderable="false">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Pending Acknowledgement</td>
              <td>COOKIE</td>
              <td>10.10.10.10</td>
              <td>7443</td>
              <td>
                <div class="btn-group-vertical">
                  <button class="btn btn-outline-primary btn-sm" type="button">Acknowledge</button>
                  <button class="btn btn-outline-danger btn-sm" type="button">Delete</button>
                </div>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
