<div class="row pb-5">
  <div class="col-md-10 m-auto">
    <div class="card">
      <div class="card-header">
        <h2>
          <span>Nodes</span>
          <button class="ml-2 btn btn-outline-dark float-right" (click)="openModal(addModal)">
            <span class="fa fa-plus"></span> <span>Add Node</span>
          </button>
          <button class="btn btn-outline-dark float-right" (click)="openModal(scanModal)">
            <span class="fa fa-search"></span> <span>Scan</span>
          </button>
        </h2>
      </div>
      <div class="card-body">
        <h2 class="text-center mt-5 mb-5" *ngIf="nodeList.length == 0">No Nodes Present</h2>
        <div class="table-responsive" *ngIf="nodeList.length > 0">
          <table datatable class="table">
            <thead class="thead-light">
            <tr>
              <th>Node Status</th>
              <th>Hostname</th>
              <th>IP Address</th>
              <th>Port</th>
              <th>OS</th>
              <th>Compute Methods</th>
              <th>CPU Name</th>
              <th>Selected Cores</th>
              <th>Selected GPU(s)</th>
              <th>Benchmark Rating</th>
              <th data-orderable="false">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Pending Activation</td>
              <td>COOKIE</td>
              <td>10.10.10.10</td>
              <td>7443</td>
              <td>Windows64</td>
              <td>CPU</td>
              <td>Intel(R) Core(TM) i7-3770 CPU @ 3.40Ghz</td>
              <td>8</td>
              <td>NVIDIA 1070 GTX</td>
              <td>640000</td>
              <td>
                <div class="btn-group-vertical">
                  <button class="btn btn-outline-primary btn-sm" type="button">Update</button>
                  <button class="btn btn-outline-danger btn-sm" type="button">Delete</button>
                </div>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #addModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Sethlans Node</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark mr-auto" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-outline-dark ml-auto"
            (click)="c('Close click'); updateAndRestart(restartModal)">Update and Restart
    </button>
  </div>
</ng-template>
<ng-template #scanModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Scan for Sethlans Nodes</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark mr-auto" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-outline-dark ml-auto"
            (click)="c('Close click'); updateAndRestart(restartModal)">Update and Restart
    </button>
  </div>
</ng-template>
