<!DOCTYPE html>
<!-- Namespaces -->
<html lang="en" class="layout-pf layout-pf-fixed" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS Libraries -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.22.1/css/patternfly.min.css"
          th:href="@{/bower/patternfly/dist/css/patternfly.min.css}"
          rel="stylesheet" media="screen, print">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.22.1/css/patternfly-additions.min.css"
          th:href="@{/bower/patternfly/dist/css/patternfly-additions.min.css}"
          rel="stylesheet" media="screen, print">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.css"
          th:href="@{/bower/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css}"
          rel="stylesheet" media="screen, print">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.8/css/fileinput.min.css"
          th:href="@{/bower/bootstrap-fileinput/css/fileinput.min.css}"
          media="screen, print" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"
          th:href="@{/bower/datatables.net-bs/css/dataTables.bootstrap.min.css}"
          rel="stylesheet" media="screen, print">
    <style>
        body {
            background-color: #EAEAEA;
        }

        .vertical-alignment-helper {
            display: table;
            height: 100%;
            width: 100%;
            pointer-events: none; /* This makes sure that we can still click outside of the modal to close it */
        }

        .vertical-align-center {
            /* To center vertically */
            display: table-cell;
            vertical-align: middle;
            pointer-events: none;
        }

        .modal-content {
            /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
            width: inherit;
            height: inherit;
            /* To center horizontally */
            margin: 0 auto;
            pointer-events: all;
        }

        .form-template {
            padding: 40px 15px;
        }

    </style>

    <!--Favicon -->
    <link rel="shortcut icon" href="../images/favicon.png" th:href="@{/images/favicon.png}">

    <title>Projects</title>
</head>
<body>
<!-- Nav Bar Fragment -->
<nav class="navbar navbar-pf-vertical" th:replace="fragments/nav :: navbar">


</nav>
<!--/.navbar-->

<!--/*@thymesVar id="availableBlenderBinaries" type="java.util.List"*/-->
<div class="container" th:object="${availableBlenderBinaries}">

    <h2>Projects <a id="newProjectBtn" href="/project/new" class="btn btn-primary btn-lg pull-right">New Project</a>
    </h2>
    <script th:inline="javascript">
        var listEmpty = /*[[${availableBlenderBinaries.isEmpty()}]]*/ true;
        window.onload = function () {
            if (listEmpty) {
                document.getElementById("newProjectBtn").classList.add("disabled");
            }
        }
    </script>
    <br/>
    <br/>
    <div class="container">
        <h2 th:if="${#lists.isEmpty(projects)}" style="text-align: center">No Projects Available</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr th:if="${not #lists.isEmpty(projects)}">
                <th></th>
                <th>Name</th>
                <th>Blender Version</th>
                <th>Type</th>
                <th>Compute</th>
                <th>Resolution</th>
                <th>Status</th>
                <th>Actions</th>

            </tr>
            <!--/*@thymesVar id="projects" type="java.util.List"*/-->
            <!--/*@thymesVar id="project" type="com.dryadandnaiad.sethlans.domains.database.blender.BlenderProject"*/-->
            <tr th:each="project : ${projects}">
                <td><img src="../../images/placeholder.svg" th:src="@{/images/placeholder.svg}" height="60"/></td>
                <td th:id="'projectName-' + ${project.getId()}"
                    th:text="${project.getProjectName()}">Test</td>
                <td th:id="'projectBlenderVersion-' + ${project.getId()}"
                    th:text="${project.getBlenderVersion()}">2.78c</td>
                <td th:id="'projectType-' + ${project.getId()}"
                    th:text="${project.getProjectType().getName()}">Still Image</td>
                <td th:id="'projectComputeType-' + ${project.getId()}"
                    th:text="${project.getRenderOn().getName()}">GPU</td>
                <td th:id="'projectResolution-' + ${project.getId()}"
                    th:text="${project.getResolutionX()} + ' x ' + ${project.getResolutionY()}">1920x1080 px</td>
                <td th:id="'projectStatus-' + ${project.getId()}"
                    th:unless="${project.isStarted() and project.isFinished()}">Not Started</td>
                <td th:id="'projectStatus-' + ${project.getId()}"
                    th:if="${project.isStarted()}">1% Complete</td>
                <td th:id="'projectStatus-' + ${project.getId()}"
                    th:if="${project.isFinished()}">Complete</td>
                <td>
                    <a th:id="'projectViewLink-' + ${project.getId()}"
                       th:href="${'/project/view/' + project.getId()}" href="#">View</a>
                    <br/>
                    <a th:id="'projectEditLink-' + ${project.getId()}"
                       th:href="${'/project/edit/' + project.getId()}" href="#">Edit</a>
                    <br th:if="${project.isStarted()}"/>
                    <a th:id="'projectPauseLink-' + ${project.getId()}"
                       th:if="${project.isStarted()}" href="#">Pause</a>
                    <br th:if="${project.isFinished()}"/>
                    <a th:id="'projectDownloadLink-' + ${project.getId()}"
                       th:if="${project.isFinished()}" href="#">Download</a>
                    <br/>
                    <a th:id="'projectDeleteLink-' + ${project.getId()}"
                       th:href="${'/project/delete/' + project.getId()}" href="#">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>


<!-- Footer Fragment -->
<div class="content"></div>
<footer class="footer" th:replace="fragments/footer :: footer">
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #000;
        }
    </style>
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>
<!-- Javascript Footers -->

<!-- Javascript Libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"
        th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.22.1/js/patternfly.min.js"
        th:src="@{/bower/patternfly/dist/js/patternfly.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"
        th:src="@{/bower/c3/c3.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"
        th:src="@{/bower/d3/d3.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"
        th:src="@{/bower/matchHeight/dist/jquery.matchHeight-min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js"
        th:src="@{/bower/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.8/js/fileinput.min.js"
        th:src="@{/bower/bootstrap-fileinput/js/fileinput.min.js}"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"
        th:src="@{/bower/datatables.net/js/jquery.dataTables.min.js}"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"
        th:src="@{/bower/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>


<!-- Local Javascript-->
<script>
    // Tooltip Javascript
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script>
    setTimeout(function () {
        window.location.reload(1);
    }, 30000);
</script>
<!-- Page Javascript -->
</body>
</html>