<!DOCTYPE html>
<!-- Namespaces -->
<html lang="en" class="layout-pf layout-pf-fixed" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS Libraries -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.22.1/css/patternfly.min.css"
          th:href="@{/bower/patternfly/dist/css/patternfly.min.css}"
          rel="stylesheet" media="screen, print">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.22.1/css/patternfly-additions.min.css"
          th:href="@{/bower/patternfly/dist/css/patternfly-additions.min.css}"
          rel="stylesheet" media="screen, print">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.css"
          th:href="@{/bower/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css}"
          rel="stylesheet" media="screen, print">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.8/css/fileinput.min.css"
          th:href="@{/bower/bootstrap-fileinput/css/fileinput.min.css}"
          media="screen, print" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"
          th:href="@{/bower/datatables.net-bs/css/dataTables.bootstrap.min.css}"
          rel="stylesheet" media="screen, print">

    <style>
        body {
            background-color: #EAEAEA;
        }

        .vertical-alignment-helper {
            display: table;
            height: 100%;
            width: 100%;
            pointer-events: none; /* This makes sure that we can still click outside of the modal to close it */
        }

        .vertical-align-center {
            /* To center vertically */
            display: table-cell;
            vertical-align: middle;
            pointer-events: none;
        }

        .modal-content {
            /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
            width: inherit;
            height: inherit;
            /* To center horizontally */
            margin: 0 auto;
            pointer-events: all;
        }

        .form-template {
            padding: 40px 15px;
        }
    </style>

    <title>Project Name</title>
</head>
<body>
<!-- Nav Bar Fragment -->
<nav class="navbar navbar-pf-vertical" th:replace="fragments/nav :: navbar">

</nav>
<!--/.navbar-->

<div class="container">
    <h2>Project Name</h2>
    <h4><strong>Status: <span style="color: green;">Rendering</span> </strong></h4>
    <hr/>
    <h4 class="page-header">Frames/Tiles</h4>

    <div class="row">
        <div class="col-md-2">
            <div class="thumbnail">
                <a class="pop" href="#">
                    <img src="../../images/placeholder.svg" class="img-rounded" style="width:100%">
                    <div class="caption">
                        <p>Tile 01</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a class="pop" href="#">
                    <img src="../../images/placeholder.svg" class="img-rounded" style="width:100%">
                    <div class="caption">
                        <p>Tile 02</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a class="pop" href="#">
                    <img src="../../images/placeholder.svg" class="img-rounded" style="width:100%">
                    <div class="caption">
                        <p>Tile 03</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a class="pop" href="#">
                    <img src="../../images/placeholder.svg" class="img-rounded" style="width:100%">
                    <div class="caption">
                        <p>Tile 04</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a class="pop" href="#">
                    <img src="../../images/placeholder.svg" class="img-rounded" style="width:100%">
                    <div class="caption">
                        <p>Tile 05</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a class="pop" href="#">
                    <img src="../../images/placeholder.svg" class="img-rounded" style="width:100%">
                    <div class="caption">
                        <p>Tile 06</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="thumbnail">
                <a class="pop" href="#">
                    <img src="../../images/placeholder.svg" class="img-rounded" style="width:100%">
                    <div class="caption">
                        <p>Tile 07</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a class="pop" href="#">
                    <img src="../../images/placeholder.svg" class="img-rounded" style="width:100%">
                    <div class="caption">
                        <p>Tile 08</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a class="pop" href="#">
                    <img src="../../images/placeholder.svg" class="img-rounded" style="width:100%">
                    <div class="caption">
                        <p>Tile 09</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a class="pop" href="#">
                    <img src="../../images/placeholder.svg" class="img-rounded" style="width:100%">
                    <div class="caption">
                        <p>Tile 10</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a class="pop" href="#">
                    <img src="../../images/placeholder.svg" class="img-rounded" style="width:100%">
                    <div class="caption">
                        <p>Tile 11</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <a class="pop" href="#">
                    <img src="../../images/placeholder.svg" class="img-rounded" style="width:100%">
                    <div class="caption">
                        <p>Tile 12</p>
                    </div>
                </a>
            </div>
        </div>

        <!-- Creates the bootstrap modal where the image will appear -->
        <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <img src="" class="imagepreview" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer Fragment -->
<div class="content"></div>
<footer class="footer" th:replace="fragments/footer :: footer">
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #000;
        }
    </style>
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>
<!-- Javascript Footers -->

<!-- Javascript Libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"
        th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.22.1/js/patternfly.min.js"
        th:src="@{/bower/patternfly/dist/js/patternfly.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"
        th:src="@{/bower/c3/c3.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"
        th:src="@{/bower/d3/d3.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"
        th:src="@{/bower/matchHeight/dist/jquery.matchHeight-min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js"
        th:src="@{/bower/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.8/js/fileinput.min.js"
        th:src="@{/bower/bootstrap-fileinput/js/fileinput.min.js}"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"
        th:src="@{/bower/datatables.net/js/jquery.dataTables.min.js}"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"
        th:src="@{/bower/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>


<!-- Local Javascript-->
<script>
    // Tooltip Javascript
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script>
    $(document).ready(function () {
        $('.pop').on('click', function () {
            $('.imagepreview').attr('src', $(this).find('img').attr('src'));
            $('#imagemodal').modal('show');
        });
    });
</script>
<!-- Page Javascript -->

</body>
</html>