<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{dd-MMM-yyyy HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<File name="LogFile" fileName="${sys:user.home}/.sethlans/logs/sethlans.log">
			<PatternLayout pattern="%d{dd-MMM-yyyy HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</File>
	</appenders>
	<loggers>
		<root level="debug">
			<appender-ref ref="Console" />
			<appender-ref ref="LogFile" />
		</root>
	</loggers>
</configuration>
