<div class="row pb-1">
  <div class="col-md-10 m-auto">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
            <h4 style="font-family: 'Fjalla One', sans-serif">Authorized Server</h4>
          </div>
          <div class="col-md-4">
            <button class="ml-2 btn btn-outline-dark float-end">
              <fa-icon [icon]="faKey"></fa-icon>
              <span class="ms-2">Set API Key</span>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
