<div class="row pb-1">
  <div class="col-md-8 m-auto">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
            <h4 style="font-family: 'Fjalla One', sans-serif">Authorized Server</h4>
          </div>
          <div class="col-md-4">
            <button (click)="toggleScreen()" *ngIf="apiScreenToggle == false"
                    class="ms-2 btn btn-outline-dark float-end">
              <fa-icon [icon]="faKey"></fa-icon>
              <span class="ms-2">API Key</span>
            </button>
            <button (click)="toggleScreen()" *ngIf="apiScreenToggle" class="ms-2 btn btn-outline-dark float-end">
              <fa-icon [icon]="faServer"></fa-icon>
              <span class="ms-2">Authorized Server</span>
            </button>
            <button (click)="addAPI()" *ngIf="apiScreenToggle && nodeAPIKey === ''"
                    class="ml-2 btn btn-outline-dark float-end">
              <fa-icon [icon]="faPlus"></fa-icon>
              <span class="ms-2">Add API Key</span>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="col-md-112 m-auto">
          <div *ngIf="addAPIScreen" class="row"
               ngbTooltip="API Key obtained from Sethlans Server." placement="top">
            <div class="col-md-12 pt-3">
              <h6>Add API Key</h6>
              <input [(ngModel)]="nodeAPIKey"
                     class="form-control form-control-sm "
                     id="apiKey" type="text"
              />
            </div>
          </div>
          <div *ngIf="addAPIScreen" class="row">
            <div class="col-md-12 pt-2">
              <button (click)="setAPI()"
                      class="ml-2 btn btn-outline-primary float-end">Submit
              </button>
            </div>
          </div>
          <table *ngIf="addAPIScreen == false" class="table">
            <thead>
            <tr *ngIf="apiScreenToggle == false">
              <th scope="col">Benchmark Sent</th>
              <th scope="col">Hostname</th>
              <th scope="col">IP Address</th>
              <th scope="col">Port</th>
            </tr>
            <tr *ngIf="apiScreenToggle">
              <th scope="col">API Key</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="server.ipAddress != ''  && apiScreenToggle == false">
              <td>{{server.benchmarkComplete}}</td>
              <td>{{server.hostname}}</td>
              <td>{{server.ipAddress}}</td>
              <td>{{server.networkPort}}</td>
            </tr>
            <p *ngIf="server.ipAddress == ''  && apiScreenToggle == false">No Authorized Server Configured</p>

            <tr *ngIf="apiScreenToggle">
              <td *ngIf="nodeAPIKey !== ''">{{nodeAPIKey}}</td>
              <td *ngIf="nodeAPIKey === ''">N/A</td>
              <td *ngIf="nodeAPIKey !== ''">
                <button (click)="clearKeyModal(deleteAPIKeyConfirm)" *ngIf="mode == Mode.NODE"
                        class="btn btn-outline-danger btn-sm" type="button">Clear
                </button>
              </td>
              <td *ngIf="nodeAPIKey === ''"></td>

            </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
<ng-template #deleteAPIKeyConfirm let-modal>
  <div class="modal-header">
    <h4 class="clearKeyConfirm" id="clearKeyConfirm">Clear API Key</h4>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="btn-close" type="button"></button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete the following API Key?</p>
    <p><strong>{{nodeAPIKey}}</strong></p>
    <button (click)="modal.close('Cancel')" class="btn btn-outline-secondary mr-auto float-start" type="button">No
    </button>
    <button (click)="modal.close('Save click');clearAPIKey()" class="btn btn-outline-danger ml-auto float-end"
            type="button">Yes
    </button>
  </div>

</ng-template>
