<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 py-1">
  <div class="container">
    <a href="/" class="navbar-brand"
       style="font-family: 'Fjalla One', sans-serif; font-size: 150%">
      <img [src]="logo" height="32" class="d-inline-block align-top" alt="logo">
      Sethlans</a>
    <button *ngIf="authenticated" class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
      <!--Right Menu-->
      <ul class="text-white nav ml-md-auto mt-2 mt-md-auto" *ngIf="authenticated">
        <!--User Menu-->
        <li class="nav-item" id="userDropDown" ngbDropdown>
          <a class="text-white nav-link dropdown-toggle" ngbDropdownToggle>
            <span class="fa fa-user"></span>&nbsp;{{username}}</a>
          <div ngbDropdownMenu>
            <a href="/user_settings" class="dropdown-item">User Settings</a>
            <a href="/logout" class="dropdown-item">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>


