<div class="row">
  <div class="col-md-10 m-auto">
    <div class="card">
      <div class="card-header">
        <h2>
          <span>User Management</span>
          <button class="btn btn-outline-dark float-right">
            <span class="fa fa-plus"></span> <span>Create new user</span>
          </button>
        </h2>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Created On</th>
            <th>Last Updated On</th>
          </tr>
          </thead>
        </table>

      </div>
    </div>
  </div>
</div>
