<div class="row">
  <div class="col-md-10 mx-auto mt-3 mb-3">
    <div class="card">
      <div class="card-header">
        <h4 style="font-family: 'Fjalla One', sans-serif">User Settings - {{sethlansUser.username}}</h4>
      </div>
      <div class="card-body">
        <p>Current Roles: <span *ngFor="let role of sethlansUser.roles">{{role}}</span></p>

        <div class="row">
          <div class="col" *ngIf="mode != Mode.NODE">
            <h6>Email Settings</h6>
            <div class="form-group" ngbTooltip="Email used for notifications." placement="left">
              <input type="text"
                     name="email"
                     id="email"
                     (keyup)="validateEmail()"
                     value="{{sethlansUser.email}}"
                     [(ngModel)]="newEmail"
                     placeholder="Email Address"
                     class="form-control form-control-sm">
              <div *ngIf="emailError" class="alert alert-danger">
                <ul>
                  <li>Email is required and must be valid.</li>
                </ul>
              </div>
            </div>
            <br/>
            <button class="btn btn-outline-dark" [disabled]="!emailUpdated" (click)="changeEmail()">Change Email
            </button>
            <hr/>
            <h6>Email Notification Settings</h6>
            <div class="form-group" *ngIf="isAdministrator">
              <span><fa-icon class="pe-2"
                             [icon]="sethlansUser.notificationSettings.nodeEmailNotifications ? faCheckSquare : faSquare"
                             (click)="sethlansUser.notificationSettings.nodeEmailNotifications = !sethlansUser.notificationSettings.nodeEmailNotifications"></fa-icon>Node Notifications</span>
            </div>
            <div class="form-group" *ngIf="isAdministrator">
              <span><fa-icon class="pe-2"
                             [icon]="sethlansUser.notificationSettings.systemEmailNotifications ? faCheckSquare : faSquare"
                             (click)="sethlansUser.notificationSettings.systemEmailNotifications = !sethlansUser.notificationSettings.systemEmailNotifications"></fa-icon>System Notifications</span>
            </div>
            <div class="form-group">
              <span><fa-icon class="pe-2"
                             [icon]="sethlansUser.notificationSettings.projectEmailNotifications ? faCheckSquare : faSquare"
                             (click)="sethlansUser.notificationSettings.projectEmailNotifications = !sethlansUser.notificationSettings.projectEmailNotifications">

              </fa-icon>Project Notifications</span>
            </div>
            <div class="form-group">
              <span><fa-icon class="pe-2"
                             [icon]="sethlansUser.notificationSettings.videoEncodingEmailNotifications ? faCheckSquare : faSquare"
                             (click)="sethlansUser.notificationSettings.videoEncodingEmailNotifications  = !sethlansUser.notificationSettings.videoEncodingEmailNotifications ">

              </fa-icon>Video Encoding Notifications</span>
            </div>
            <br/>
            <button class="btn btn-outline-dark">Change Email Notification Settings
            </button>

          </div>
          <div class="col">
            <h6>Password Settings</h6>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
