<div class="row">
  <div class="col-md-10 mx-auto mt-3 mb-3">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
            <h4 style="font-family: 'Fjalla One', sans-serif">{{project.getValue().projectName}} Details</h4>

          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-9 m-auto">
          </div>
          <div class="col-md-3 m-auto">
            <img *ngIf="project.getValue().projectStatus.completedFrames < 1"
                 [src]="placeholder"
                 alt="placeholder"
                 class="align-top float-end py-1"
                 height="100"/>
            <img *ngIf="project.getValue().projectStatus.completedFrames >= 1"
                 [src]="'/api/v1/project/' + projectID + '/thumbnail/'"
                 class="align-top float-end py-1"
                 height="100"/>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-9">
            <h5>Status: {{project.getValue().projectStatus.projectState}}</h5>
          </div>
          <div class="col-md-3">
            <ngb-progressbar [max]="100" [showValue]="true"
                             [value]="project.getValue().projectStatus.currentPercentage"
                             type="success"></ngb-progressbar>
          </div>
        </div>
        <div class="row pt-5">
          <div class="col-md-4">
            <strong>Project Summary</strong>
            <table class="table table-sm">
              <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Blender Version</td>
                <td>{{project.getValue().projectSettings.blenderVersion}}</td>
              </tr>
              <tr>
                <td>Image Output Format<td>
                <td>{{project.getValue().projectSettings.imageSettings.imageOutputFormat}}</td>
              </tr>
              <tr>
                <td>Start Frame</td>
                <td>{{project.getValue().projectSettings.startFrame}}</td>
              </tr>
              <tr *ngIf="project.getValue().projectType == ProjectType.ANIMATION">
                <td>End Frame</td>
                <td>{{project.getValue().projectSettings.endFrame}}</td>
              </tr>
              <tr *ngIf="project.getValue().projectType == ProjectType.ANIMATION">
                <td>Step Frame</td>
                <td>{{project.getValue().projectSettings.stepFrame}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <strong>Statistics</strong>
            <table class="table-sm table">
              <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngIf="project.getValue().projectStatus.projectState != ProjectState.FINISHED
              && project.getValue().projectStatus.projectState != ProjectState.ADDED
              && project.getValue().projectStatus.projectState != ProjectState.STOPPED">
                <td>Queue Progress</td>
                <td>{{project.getValue().projectStatus.remainingQueueSize}} of {{project.getValue().projectStatus.totalQueueSize}} Remaining</td>
              </tr>
              <tr>
                <td>Project Duration</td>
                <td>{{project.getValue().projectStatus.totalProjectTime | date: 'mm:ss'}}</td>
              </tr>
              <tr>
                <td>Cumulative Render</td>
                <td>{{project.getValue().projectStatus.totalRenderTime | date: 'mm:ss'}}</td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
