<div class="row pt-md-5">
  <div class="col-md-6 m-auto">
    <div class="card">
      <div class="card-body bg-dark">
        <h1 class="text-center pb-4 pt-4" style="font-family: 'Fjalla One', sans-serif;"><img [src]="logo" height="48"
                                                                                              class="d-inline-block align-top"
                                                                                              alt="logo">
          <span class="text-white">Sethlans</span>
        </h1>
        <form (submit)="onSubmit()" class="pb-4" #loginForm="ngForm">
          <div class="form-group">
            <label for="username" class="text-white">Username</label>
            <input type="username" name="username" id="username" [(ngModel)]="username" class="form-control" required>
          </div>
          <div class="form-group pb-4">
            <label for="password" class="text-white">Password</label>
            <input type="password" name="password" id="password" [(ngModel)]="password" class="form-control" required>
          </div>
          <input type="submit" value="Login" class="btn btn-outline-light btn-block">
        </form>
        <button class="btn btn-outline-light btn-block">Register</button>

      </div>
    </div>
  </div>
</div>
