<div class="row">
  <div class="col-lg-4">
    <h5>Active Projects</h5>
    <table class="table table-sm table-responsive">
      <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Progress</th>
      </tr>
      </thead>
      <tbody *ngIf="activeProjects.length > 0">
      <tr *ngFor="let project of projectDataSource.getValue()">
        <td><a href="/projects/details/{{project.projectID}}">{{project.projectName}}</a></td>
        <td>{{project.projectStatus.projectState}}</td>
        <td>{{project.projectStatus.currentPercentage}}% Complete</td>
      </tr>
      </tbody>
      <tbody *ngIf="activeProjects.length == 0">
      <td>No Active Projects</td>
      <td></td>
      <td></td>
      </tbody>
    </table>

  </div>

  <div class="col-lg-5">
    <h5>Active Node Distribution</h5>
    <p-chart type="doughnut" [data]="chartData" [width]="'300'" [height]="'300'"></p-chart>


  </div>
  <div class="col-lg-3">
    <h5>Connected Node Stats</h5>
    <ul>
      <li>Total Number of Nodes: {{serverDashboard.totalNodes}}</li>
      <li>Active Nodes: {{serverDashboard.activeNodes}}</li>
      <li>Disabled Nodes: {{serverDashboard.disabledNodes}}</li>
      <li>Total Rendering Slots: {{serverDashboard.totalSlots}}</li>
    </ul>


  </div>
</div>
<hr *ngIf="mode == Mode.SERVER"/>
<div *ngIf="mode == Mode.SERVER" class="row">
  <div class="col-lg-5">
    <h5>System Information</h5>
    <ul>
      <li>Processor: <i>{{serverDashboard.cpuName}}</i></li>
      <li>Memory: <i>{{serverDashboard.totalMemory}}</i></li>
      <li>Disk Space:
        <ngb-progressbar
          [max]="serverDashboard.totalSpace"
          [value]="serverDashboard.usedSpace"
          type="info">
        </ngb-progressbar>
        <span class="float-start">
          <fa-icon [icon]="faSquare" style="color: #17a2b8; font-size: 0.75rem"></fa-icon>
          &nbsp;Used - {{serverDashboard.usedSpace}} GiB</span>
        <span class="float-end">
                    <fa-icon [icon]="faSquare" style="color: #e9ecef; font-size: 0.75rem;"></fa-icon>
          &nbsp;Free - {{serverDashboard.freeSpace}} GiB</span>
      </li>

    </ul>
  </div>
  <div class="col-lg-4">

  </div>
  <div class="col-lg-3">
  </div>
</div>
