<div *ngIf="!projectWizardScreen" class="row">
  <div class="col-md-10 mx-auto mt-3 mb-3">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
            <h4 style="font-family: 'Fjalla One', sans-serif">Projects</h4>
          </div>
          <div class="col-md-4">
            <button (click)="startProjectWizard()" class="ml-2 btn btn-outline-dark float-end">
              <fa-icon [icon]="faPlus"></fa-icon>
              <span class="ms-2">New Project</span>
            </button>
            <!--            <button class="btn btn-outline-dark float-end me-2">-->
            <!--              <fa-icon [icon]="faDownload"></fa-icon>-->
            <!--              <span class="ms-2">Get Logs</span>-->
            <!--            </button>-->
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="col-md-12 m-auto">
          <table class="table table-responsive-md">
            <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">Compute</th>
              <th scope="col">File Format</th>
              <th scope="col">Status</th>
              <th scope="col">Render Progress</th>
              <th scope="col">Preview</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let project of projectList">
              <td>{{project.projectName}}</td>
              <td>{{project.projectType}}</td>
              <td>{{project.projectSettings.computeOn}}</td>
              <td
                *ngIf="project.projectType == ProjectType.STILL_IMAGE">{{project.projectSettings.imageSettings.imageOutputFormat}}</td>
              <td *ngIf="project.projectType == ProjectType.ANIMATION">
                <span
                  *ngIf="project.projectSettings.animationType == AnimationType.IMAGES">{{project.projectSettings.imageSettings.imageOutputFormat}} </span>
                <span
                  *ngIf="project.projectSettings.animationType == AnimationType.MOVIE">{{project.projectSettings.videoSettings.videoOutputFormat}}</span>
              </td>
              <td>{{project.projectStatus.projectState}}</td>
              <td>
                <ngb-progressbar [max]="100" [showValue]="true"
                                 [value]="project.projectStatus.currentPercentage"
                                 type="success"></ngb-progressbar>

              </td>
              <td><img [src]="placeholder"
                       alt="placeholder"
                       class="align-top  py-1"
                       height="85"></td>
              <td>
                <div class="btn-group-vertical">
                  <button class="btn btn-outline-primary float-end">Start</button>
                  <button (click)="deleteProjectModal(deleteProjectConfirm, project)"
                          class="btn btn-outline-danger float-end">Delete
                  </button>
                </div>

              </td>
            </tr>


            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>
</div>
<div *ngIf="projectWizardScreen" class="row pb-1">
  <div class="col-md-8 m-auto">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
            <h4 style="font-family: 'Fjalla One', sans-serif">Create Project Wizard</h4>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul class="nav nav-tabs justify-content-between pb-3">
          <li>
            <button [disabled]="projectWizardProgress != ProjectWizardProgress.UPLOAD"
                    [ngClass]="projectWizardProgress == ProjectWizardProgress.UPLOAD
                      ? 'btn-outline-primary' : 'btn-outline-dark'"
                    class="btn btn-lg btn-circle"
                    type="button">
              <fa-icon [icon]="faUpload"></fa-icon>
            </button>
          </li>
          <li>
            <button (click)="projectWizardProgress = ProjectWizardProgress.PROJECT_DETAILS" [disabled]="detailsDisabled"
                    [ngClass]="projectWizardProgress == ProjectWizardProgress.PROJECT_DETAILS
                      ? 'btn-outline-primary' : 'btn-outline-dark'"
                    class="btn btn-lg btn-circle"
                    type="button">
              <fa-icon [icon]="faPuzzlePiece"></fa-icon>
            </button>
          </li>
          <li>
            <button (click)="projectWizardProgress = ProjectWizardProgress.SETTINGS" [disabled]="settingsDisabled"
                    [ngClass]="projectWizardProgress == ProjectWizardProgress.SETTINGS
                      ? 'btn-outline-primary' : 'btn-outline-dark'"
                    class="btn btn-lg btn-circle"
                    type="button">
              <fa-icon [icon]="faGear"></fa-icon>
            </button>
          </li>
          <li>
            <button [disabled]="summaryDisabled" [ngClass]="projectWizardProgress == ProjectWizardProgress.SUMMARY
                      ? 'btn-outline-primary' : 'btn-outline-dark'"
                    class="btn btn-lg btn-circle"
                    type="button">
              <fa-icon [icon]="faRectangleList"></fa-icon>
            </button>
          </li>
        </ul>
        <div *ngIf="projectWizardProgress == ProjectWizardProgress.UPLOAD" class="pt-2">
          <div *ngIf="showInvalidFileAlert" class="alert alert-danger" role="alert">
            <p class="mb-0 text-center">File uploaded was not a valid blend or zip file in the correct format!
            </p>
          </div>
          <h5>Project Upload</h5>
          <ul>
            <li>
              Valid files are <strong>.blend</strong> files with packed textures, and <strong>ZIP</strong> files.
            </li>
            <li>When uploading <strong>ZIP</strong> archives:
              <ul>
                <li>Main blend file must be in root of the archive.</li>
                <li>Ensure that the <strong>ZIP</strong> file is named after the main .blend file. Ex: "Dog
                  Cartoon.blend" in
                  "Dog Cartoon.zip"
                </li>
                <li>Textures and assets must be in their own separate folders.</li>
                <li>The paths to all textures and assets must be relative.</li>
              </ul>
            </li>
            <li>Set the output file to an <strong>image</strong>, for example <strong>PNG</strong>.</li>
            <li>Verify that the uploaded file has been saved in one of the blender versions present on the server:
              <ul>
              </ul>
            </li>
          </ul>
          <div class="text-center">
            <p-fileUpload #fileUpload (onError)="resetUpload(fileUpload)" (onUpload)="loadProjectDetails($event)"
                          [withCredentials]="true"
                          accept=".blend,.zip" chooseLabel="Browse"
                          mode="basic"
                          name="project_file"
                          url="/api/v1/project/upload_project_file/"></p-fileUpload>
          </div>
        </div>
        <!--        Project Details Page-->
        <div *ngIf="projectWizardProgress == ProjectWizardProgress.PROJECT_DETAILS" class="pt-2">
          <div class="row py-1">
            <div class="col-md-12">
              <label for="projectName">Project Name</label>
              <input [(ngModel)]="projectForm.projectName"
                     class="form-control form-control-sm"
                     id="projectName"
                     (keyup)="validateProjectName()"
                     name="projectName"
                     placeholder="Project Name"
                     required type="text"/>
            </div>

          </div>

          <div class="row py-1">
            <div class="col-md-12">
              <label for="blenderVersion">Blender Version for Rendering</label>
              <select [(ngModel)]="projectForm.projectSettings.blenderVersion" class="form-select form-select-sm"
                      id="blenderVersion">
                <option *ngFor="let version of projectForm.installedBlenderVersions"
                        ngValue="{{version}}">{{version}}</option>
              </select>
            </div>
          </div>
          <div class="row py-2">
            <div class="col-md-4">
              <label for="projectTypeGroup">Project Type</label>
              <div class="form-check pt-1" id="projectTypeGroup">
                <label class="form-check-label">
                  <input [(ngModel)]="projectForm.projectType"
                         [value]="ProjectType.STILL_IMAGE"
                         class="form-check-input"
                         name="projectType"
                         required
                         type="radio">Still Image
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input (click)="setToPNG()"
                         [(ngModel)]="projectForm.projectType"
                         [value]="ProjectType.ANIMATION"
                         class="form-check-input"
                         name="projectType"
                         required
                         type="radio">Animation
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <label *ngIf="projectForm.projectType == ProjectType.ANIMATION" for="animationTypeGroup">Animation
                Type</label>
              <div *ngIf="projectForm.projectType == ProjectType.ANIMATION" class="form-check pt-1"
                   id="animationTypeGroup">
                <label class="form-check-label">
                  <input [(ngModel)]="projectForm.projectSettings.animationType"
                         [value]="AnimationType.MOVIE"
                         class="form-check-input"
                         name="animationType"
                         required
                         type="radio">Movie
                </label>
              </div>
              <div *ngIf="projectForm.projectType == ProjectType.ANIMATION" class="form-check">
                <label class="form-check-label">
                  <input
                    [(ngModel)]="projectForm.projectSettings.animationType"
                    [value]="AnimationType.IMAGES"
                    class="form-check-input"
                    name="animationType"
                    required
                    type="radio">Images
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <label for="outputFormat">Image Output Format</label>
              <select [(ngModel)]="projectForm.projectSettings.imageSettings.imageOutputFormat"
                      class="form-select form-select-sm pt-1"
                      id="outputFormat">
                <option [value]="ImageOutputFormat.PNG">PNG</option>
                <option *ngIf="projectForm.projectType == ProjectType.STILL_IMAGE" [value]="ImageOutputFormat.HDR">HDR
                </option>
                <option *ngIf="projectForm.projectType == ProjectType.STILL_IMAGE" [value]="ImageOutputFormat.TIFF">
                  TIFF
                </option>
              </select>
            </div>
          </div>
          <div class="row py-2">
            <div class="col-md-4">
              <label for="startFrame">Start Frame</label>
              <input [(ngModel)]="projectForm.projectSettings.startFrame" class="form-control form-control-sm"
                     id="startFrame" name="startFrame"
                     pattern="^[1-9][0-9]*$" type="number">
            </div>
            <div *ngIf="projectForm.projectType == ProjectType.ANIMATION" class="col-md-4">
              <label for="endFrame">End Frame</label>
              <input [(ngModel)]="projectForm.projectSettings.endFrame" class="form-control form-control-sm"
                     id="endFrame" name="endFrame"
                     pattern="^[1-9][0-9]*$" type="number">
            </div>
            <div *ngIf="projectForm.projectType == ProjectType.ANIMATION" class="col-md-4">
              <label for="stepFrame">Step Frame</label>
              <input [(ngModel)]="projectForm.projectSettings.stepFrame" class="form-control form-control-sm"
                     id="stepFrame" name="stepFrame"
                     pattern="^[1-9][0-9]*$" type="number">
            </div>
          </div>
        </div>
        <!--        Settings Page-->
        <div *ngIf="projectWizardProgress == ProjectWizardProgress.SETTINGS">
          <ul class="nav nav-tabs">
            <li class="nav-item">
                <span (click)="showVideoSettings=false"
                      [ngClass]="showVideoSettings
                      ? '' : 'active'"
                      class="nav-link"
                >Render Settings</span>
            </li>
            <li
              *ngIf="projectForm.projectType == ProjectType.ANIMATION && projectForm.projectSettings.animationType == AnimationType.MOVIE"
              class="nav-item">
                <span (click)="showVideoSettings=true"
                      [ngClass]="showVideoSettings
                      ? 'active' : ''"
                      class="nav-link"
                >Video Settings</span>
            </li>
          </ul>
          <div [hidden]="showVideoSettings" class="pt-2">
            <div class="row py-1">
              <div class="col-md-12">
                <label for="renderingEngine">Rendering Engine</label>
                <select [(ngModel)]="projectForm.projectSettings.blenderEngine" class="form-select form-select-sm"
                        id="renderingEngine">
                  <option [value]="BlenderEngine.CYCLES">CYCLES</option>
                  <option *ngIf="projectForm.projectSettings.blenderVersion != '2.79b'"
                          [value]="BlenderEngine.BLENDER_EEVEE">EEVEE
                  </option>
                  <option *ngIf="projectForm.projectSettings.blenderVersion == '2.79b'"
                          [value]="BlenderEngine.BLENDER_RENDER">BLENDER RENDER
                  </option>
                </select>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-md-12">
                <label for="computeOn">Compute On</label>
                <select [(ngModel)]="projectForm.projectSettings.computeOn" class="form-select form-select-sm"
                        id="computeOn">
                  <option [value]="ComputeOn.HYBRID">HYBRID</option>
                  <option
                    [value]="ComputeOn.CPU">CPU
                  </option>
                  <option
                    [value]="ComputeOn.GPU">GPU
                  </option>
                </select>
              </div>
            </div>
            <div class="row py-2">
              <div class="col-md-12">
                <label for="samples">Samples</label>
                <input [(ngModel)]="projectForm.projectSettings.samples" class="form-control form-control-sm"
                       id="samples" name="samples"
                       pattern="^[1-9][0-9]*$" type="number">
              </div>
            </div>
            <div class="row py-2">
              <div class="col-md-4">
                <label>Render Resolution</label>
                <div class="input-group">
                  <input [(ngModel)]="projectForm.projectSettings.imageSettings.resolutionX" class="form-control"
                         id="resolutionX" name="resolution"
                         pattern="^[1-9][0-9]*$" type="number">
                  <span class="input-group-text">x</span>
                  <input [(ngModel)]="projectForm.projectSettings.imageSettings.resolutionY" class="form-control"
                         id="resolutionY" name="resolutionY"
                         pattern="^[1-9][0-9]*$" type="number">
                </div>

              </div>
              <div class="col-md-4">
                <label>Render Scaling</label>
                <div class="input-group">
                  <input [(ngModel)]="projectForm.projectSettings.imageSettings.resPercentage" class="form-control"
                         id="resolutionPercentage" name="resolutionPercentage"
                         pattern="^[1-9][0-9]*$" type="number">
                  <span class="input-group-text">%</span>
                </div>
              </div>
              <div class="row pt-3">
                <div class="col-md-4">
                  <div class="form-check form-switch pt-1">
                    <input [(ngModel)]="projectForm.projectSettings.useParts" class="form-check-input" id="useParts"
                           role="switch"
                           type="checkbox">
                    <label class="form-check-label" for="useParts">Use Parts For Rendering</label>
                  </div>
                </div>
                <div class="row pt-1">
                  <div class="col-md-4">
                    <div class="pt-1">
                      <label for="partsPerFrame">Parts Per Frame</label>
                      <select [(ngModel)]="projectForm.projectSettings.partsPerFrame"
                              [disabled]="!projectForm.projectSettings.useParts" class="form-select form-select-sm"
                              id="partsPerFrame">
                        <option value="4">4</option>
                        <option value="9">9</option>
                        <option value="16">16</option>
                        <option value="25">25</option>
                        <option value="36">36</option>
                        <option value="49">49</option>
                        <option value="64">64</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div [hidden]="!showVideoSettings" class="pt-2">
            <div class="row py-1">
              <div class="row py-1">
                <div class="col-md-12">
                  <label for="videoOutputFormat">Video Output Format</label>
                  <select (change)="resetCodec()"
                          [(ngModel)]="projectForm.projectSettings.videoSettings.videoOutputFormat"
                          class="form-select form-select-sm"
                          id="videoOutputFormat">
                    <option [value]="VideoOutputFormat.MP4">MP4</option>
                    <option [value]="VideoOutputFormat.AVI">AVI</option>
                    <option [value]="VideoOutputFormat.MKV">MKV</option>
                  </select>
                </div>
              </div>
              <div class="row py-1">
                <div class="col-md-2">
                  <label for="frameRate">Frame Rate</label>
                  <input [(ngModel)]="projectForm.projectSettings.videoSettings.frameRate"
                         class="form-control form-control-sm"
                         id="frameRate" name="frameRate"
                         pattern="^[1-9][0-9]*$" type="number">
                </div>
                <div class="col-md-4">
                  <label for="videoCodec">Codec</label>
                  <select (change)="resetQuality()" [(ngModel)]="projectForm.projectSettings.videoSettings.codec"
                          class="form-select form-select-sm"
                          id="videoCodec">
                    <option *ngIf="projectForm.projectSettings.videoSettings.videoOutputFormat == VideoOutputFormat.MP4
|| projectForm.projectSettings.videoSettings.videoOutputFormat == VideoOutputFormat.MKV"
                            [value]="VideoCodec.LIBX264">X264
                    </option>
                    <option *ngIf="projectForm.projectSettings.videoSettings.videoOutputFormat == VideoOutputFormat.MP4
|| projectForm.projectSettings.videoSettings.videoOutputFormat == VideoOutputFormat.MKV"
                            [value]="VideoCodec.LIBX265"
                    >X265
                    </option>
                    <option *ngIf="projectForm.projectSettings.videoSettings.videoOutputFormat == VideoOutputFormat.AVI
|| projectForm.projectSettings.videoSettings.videoOutputFormat == VideoOutputFormat.MKV"
                            [value]="VideoCodec.FFV1">FFV1
                    </option>
                    <option *ngIf="projectForm.projectSettings.videoSettings.videoOutputFormat == VideoOutputFormat.AVI"
                            [value]="VideoCodec.UTVIDEO"
                    >UTVIDEO
                    </option>

                  </select>
                </div>
                <div class="col-md-6">
                  <label for="pixelFormat">Pixel Format</label>
                  <select [(ngModel)]="projectForm.projectSettings.videoSettings.pixelFormat"
                          class="form-select form-select-sm"
                          id="pixelFormat">
                    <option [value]="PixelFormat.YUV420P">YUV420P</option>
                    <option [value]="PixelFormat.YUV422P">YUV422P</option>
                    <option [value]="PixelFormat.YUV444P">YUV444P</option>
                  </select>
                </div>
              </div>
              <div *ngIf="projectForm.projectSettings.videoSettings.codec == VideoCodec.LIBX264
              || projectForm.projectSettings.videoSettings.codec == VideoCodec.LIBX265" class="row py-1">
                <div class="col-md-12">
                  <label for="videoQuality">Video Quality</label>
                  <select [(ngModel)]="projectForm.projectSettings.videoSettings.videoQuality"
                          class="form-select form-select-sm"
                          id="videoQuality">
                    <option
                      *ngIf="projectForm.projectSettings.videoSettings.codec == VideoCodec.LIBX264"
                      [value]="VideoQuality.LOW_X264">LOW
                    </option>
                    <option
                      *ngIf="projectForm.projectSettings.videoSettings.codec == VideoCodec.LIBX264"
                      [value]="VideoQuality.MEDIUM_X264">MEDIUM
                    </option>
                    <option
                      *ngIf="projectForm.projectSettings.videoSettings.codec == VideoCodec.LIBX264"
                      [value]="VideoQuality.HIGH_X264">HIGH
                    </option>
                    <option
                      *ngIf="projectForm.projectSettings.videoSettings.codec == VideoCodec.LIBX264"
                      [value]="VideoQuality.LOSSLESS_X264">LOSSLESS
                    </option>
                    <option
                      *ngIf="projectForm.projectSettings.videoSettings.codec == VideoCodec.LIBX265"
                      [value]="VideoQuality.LOW_X265">LOW
                    </option>
                    <option
                      *ngIf="projectForm.projectSettings.videoSettings.codec == VideoCodec.LIBX265"
                      [value]="VideoQuality.MEDIUM_X265">MEDIUM
                    </option>
                    <option
                      *ngIf="projectForm.projectSettings.videoSettings.codec == VideoCodec.LIBX265"
                      [value]="VideoQuality.HIGH_X265">HIGH
                    </option>
                    <option
                      *ngIf="projectForm.projectSettings.videoSettings.codec == VideoCodec.LIBX265"
                      [value]="VideoQuality.LOSSLESS_X265">LOSSLESS
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--        Summary-->
        <div *ngIf="projectWizardProgress == ProjectWizardProgress.SUMMARY">
          <div class="row py-1">
            <h4 class="text-center">Project Summary</h4>
            <div class="col-md-12">
              <h6>Project</h6>
              <table class="table table-responsive">
                <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Project Name</td>
                  <td>{{projectForm.projectName}}</td>
                </tr>
                <tr>
                  <td>Project Type</td>
                  <td>{{projectForm.projectType}}</td>
                </tr>
                <tr>
                  <td>Selected Blender Version</td>
                  <td>{{projectForm.projectSettings.blenderVersion}}</td>
                </tr>
                <tr>
                  <td>Image Output Format</td>
                  <td>{{projectForm.projectSettings.imageSettings.imageOutputFormat}}</td>
                </tr>
                <tr>
                  <td>Start Frame</td>
                  <td>{{projectForm.projectSettings.startFrame}}</td>
                </tr>
                <tr *ngIf="projectForm.projectType == ProjectType.ANIMATION">
                  <td>End Frame</td>
                  <td>{{projectForm.projectSettings.endFrame}}</td>
                </tr>
                <tr *ngIf="projectForm.projectType == ProjectType.ANIMATION">
                  <td>Step Frame</td>
                  <td>{{projectForm.projectSettings.stepFrame}}</td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>
          <div class="row py-1">
            <div class="col-md-12">
              <h6>Rendering</h6>
              <table class="table table-responsive">
                <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Compute On</td>
                  <td>{{projectForm.projectSettings.computeOn}}</td>
                </tr>
                <tr>
                  <td>Rendering Engine</td>
                  <td>{{projectForm.projectSettings.blenderEngine}}</td>
                </tr>
                <tr>
                  <td>Samples</td>
                  <td>{{projectForm.projectSettings.samples}}</td>
                </tr>
                <tr>
                  <td>Parts Per Frame</td>
                  <td>{{projectForm.projectSettings.partsPerFrame}}</td>
                </tr>
                <tr>
                  <td>Render Resolution</td>
                  <td><span>{{projectForm.projectSettings.imageSettings.resolutionX}}</span> x
                    <span>{{projectForm.projectSettings.imageSettings.resolutionY}}</span></td>
                </tr>
                <tr>
                  <td>Image Scaling Percentage</td>
                  <td>{{projectForm.projectSettings.imageSettings.resPercentage}}%</td>
                </tr>
                <tr *ngIf="projectForm.projectType == ProjectType.ANIMATION">
                  <td>Animation Type</td>
                  <td>{{projectForm.projectSettings.animationType}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div *ngIf="projectForm.projectType == ProjectType.ANIMATION &&
               projectForm.projectSettings.animationType == AnimationType.MOVIE"
               class="row py-1">
            <div class="col-md-12">
              <h6>Video</h6>
              <table class="table table-responsive">
                <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Frame Rate</td>
                  <td>{{projectForm.projectSettings.videoSettings.frameRate}}</td>
                </tr>
                <tr>
                  <td>Codec</td>
                  <td>{{projectForm.projectSettings.videoSettings.codec}}</td>
                </tr>
                <tr>
                  <td>Pixel Format</td>
                  <td>{{projectForm.projectSettings.videoSettings.pixelFormat}}</td>
                </tr>
                <tr>
                  <td>Video Output Format</td>
                  <td>{{projectForm.projectSettings.videoSettings.videoOutputFormat}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>


      </div>
      <div class="card-footer">
        <button (click)="cancelProjectWizard()"
                *ngIf="projectWizardProgress == ProjectWizardProgress.UPLOAD || projectWizardProgress == ProjectWizardProgress.PROJECT_DETAILS"
                class="btn btn-outline-dark float-start">Cancel
        </button>
        <button (click)="previous()"
                *ngIf="projectWizardProgress == ProjectWizardProgress.SETTINGS || projectWizardProgress == ProjectWizardProgress.SUMMARY"
                class="btn btn-outline-dark float-start">Previous
        </button>
        <button (click)="next()"
                *ngIf="projectWizardProgress != ProjectWizardProgress.UPLOAD && projectWizardProgress != ProjectWizardProgress.SUMMARY"
                [disabled]="nextDisabled"
                class="btn btn-outline-primary float-end">
          Next
        </button>
        <button (click)="submit()"
                *ngIf="projectWizardProgress == ProjectWizardProgress.SUMMARY"
                class="btn btn-outline-primary float-end">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #deleteProjectConfirm let-modal>
  <div class="modal-header">
    <h4 class="clearKeyConfirm" id="clearKeyConfirm">Delete Project</h4>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="btn-close" type="button"></button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete the following Project?</p>
    <p><strong>{{selectedProject.projectName}}</strong></p>
    <button (click)="modal.close('Cancel')" class="btn btn-outline-secondary mr-auto float-start" type="button">No
    </button>
    <button (click)="modal.close('Save click');deleteProject(selectedProject.projectID)"
            class="btn btn-outline-danger ml-auto float-end"
            type="button">Yes
    </button>
  </div>

</ng-template>
<!--<div *ngIf="projectWizardScreen">-->
<!--  Debugging:-->
<!--  <pre>{{ projectForm | json }}</pre>-->
<!--</div>-->


