<div *ngIf="!projectWizardScreen" class="row">
  <div class="col-md-10 mx-auto mt-3 mb-3">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
            <h4 style="font-family: 'Fjalla One', sans-serif">Projects</h4>
          </div>
          <div class="col-md-4">
            <button (click)="startProjectWizard()" class="ml-2 btn btn-outline-dark float-end">
              <fa-icon [icon]="faPlus"></fa-icon>
              <span class="ms-2">New Project</span>
            </button>
            <!--            <button class="btn btn-outline-dark float-end me-2">-->
            <!--              <fa-icon [icon]="faDownload"></fa-icon>-->
            <!--              <span class="ms-2">Get Logs</span>-->
            <!--            </button>-->
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="col-md-12 m-auto">
          <table class="table table-responsive-md">
            <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">Compute</th>
              <th scope="col">File Format</th>
              <th scope="col">Status</th>
              <th scope="col">Render Progress</th>
              <th scope="col">Preview</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>
</div>
<div *ngIf="projectWizardScreen" class="row pb-1">
  <div class="col-md-8 m-auto">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
            <h4 style="font-family: 'Fjalla One', sans-serif">Create Project Wizard</h4>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul class="nav nav-tabs justify-content-between pb-3">
          <li>
            <button [ngClass]="projectWizardProgress == ProjectWizardProgress.UPLOAD
                      ? 'btn-outline-primary' : 'btn-outline-dark'"
                    class="btn btn-lg btn-circle"
                    type="button">
              <fa-icon [icon]="faUpload"></fa-icon>
            </button>
          </li>
          <li>
            <button [ngClass]="projectWizardProgress == ProjectWizardProgress.PROJECT_DETAILS
                      ? 'btn-outline-primary' : 'btn-outline-dark'"
                    class="btn btn-lg btn-circle"
                    type="button">
              <fa-icon [icon]="faPuzzlePiece"></fa-icon>
            </button>
          </li>
          <li>
            <button [ngClass]="projectWizardProgress == ProjectWizardProgress.RENDER_SETTINGS
                      ? 'btn-outline-primary' : 'btn-outline-dark'"
                    class="btn btn-lg btn-circle"
                    type="button">
              <fa-icon [icon]="faCube"></fa-icon>
            </button>
          </li>
          <li>
            <button [ngClass]="projectWizardProgress == ProjectWizardProgress.SUMMARY
                      ? 'btn-outline-success' : 'btn-outline-dark'"
                    class="btn btn-lg btn-circle"
                    type="button">
              <fa-icon [icon]="faRectangleList"></fa-icon>
            </button>
          </li>
        </ul>
        <div *ngIf="projectWizardProgress == ProjectWizardProgress.UPLOAD" class="pt-2">
          <h5>Project Upload</h5>
          <ul>
            <li>
              Valid files are <strong>.blend</strong> files with packed textures, and <strong>ZIP</strong> files.
            </li>
            <li>When uploading <strong>ZIP</strong> archives:
              <ul>
                <li>Main blend file must be in root of the archive.</li>
                <li>Ensure that the <strong>ZIP</strong> file is named after the main .blend file. Ex: "Dog
                  Cartoon.blend" in
                  "Dog Cartoon.zip"
                </li>
                <li>Textures and assets must be in their own separate folders.</li>
                <li>The paths to all textures and assets must be relative.</li>
              </ul>
            </li>
            <li>Set the output file to an <strong>image</strong>, for example <strong>PNG</strong>.</li>
            <li>Verify that the uploaded file has been saved in one of the blender versions present on the server:
              <ul>
              </ul>
            </li>
          </ul>
        </div>


      </div>
      <div class="card-footer">
        <button
          class="btn btn-outline-dark float-start">Cancel
        </button>
      </div>
    </div>
  </div>
</div>
