<div *ngIf="!projectWizardScreen" class="row">
  <div class="col-md-10 mx-auto mt-3 mb-3">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
            <h4 style="font-family: 'Fjalla One', sans-serif">Projects</h4>
          </div>
          <div class="col-md-4">
            <button (click)="startProjectWizard()" class="ml-2 btn btn-outline-dark float-end">
              <fa-icon [icon]="faPlus"></fa-icon>
              <span class="ms-2">New Project</span>
            </button>
            <!--            <button class="btn btn-outline-dark float-end me-2">-->
            <!--              <fa-icon [icon]="faDownload"></fa-icon>-->
            <!--              <span class="ms-2">Get Logs</span>-->
            <!--            </button>-->
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="col-md-12 m-auto">
          <table class="table table-responsive-md">
            <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">Compute</th>
              <th scope="col">File Format</th>
              <th scope="col">Status</th>
              <th scope="col">Render Progress</th>
              <th scope="col">Preview</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>
</div>
<div *ngIf="projectWizardScreen" class="row pb-1">
  <div class="col-md-8 m-auto">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
            <h4 style="font-family: 'Fjalla One', sans-serif">Create Project Wizard</h4>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul class="nav nav-tabs justify-content-between pb-3">
          <li>
            <button [ngClass]="projectWizardProgress == ProjectWizardProgress.UPLOAD
                      ? 'btn-outline-primary' : 'btn-outline-dark'"
                    class="btn btn-lg btn-circle"
                    type="button">
              <fa-icon [icon]="faUpload"></fa-icon>
            </button>
          </li>
          <li>
            <button [ngClass]="projectWizardProgress == ProjectWizardProgress.PROJECT_DETAILS
                      ? 'btn-outline-primary' : 'btn-outline-dark'"
                    class="btn btn-lg btn-circle"
                    type="button">
              <fa-icon [icon]="faPuzzlePiece"></fa-icon>
            </button>
          </li>
          <li>
            <button [ngClass]="projectWizardProgress == ProjectWizardProgress.SETTINGS
                      ? 'btn-outline-primary' : 'btn-outline-dark'"
                    class="btn btn-lg btn-circle"
                    type="button">
              <fa-icon [icon]="faGear"></fa-icon>
            </button>
          </li>
          <li>
            <button [ngClass]="projectWizardProgress == ProjectWizardProgress.SUMMARY
                      ? 'btn-outline-success' : 'btn-outline-dark'"
                    class="btn btn-lg btn-circle"
                    type="button">
              <fa-icon [icon]="faRectangleList"></fa-icon>
            </button>
          </li>
        </ul>
        <div *ngIf="projectWizardProgress == ProjectWizardProgress.UPLOAD" class="pt-2">
          <div *ngIf="showInvalidFileAlert" class="alert alert-danger" role="alert">
            <p class="mb-0 text-center">File uploaded was not a valid blend or zip file in the correct format!
            </p>
          </div>
          <h5>Project Upload</h5>
          <ul>
            <li>
              Valid files are <strong>.blend</strong> files with packed textures, and <strong>ZIP</strong> files.
            </li>
            <li>When uploading <strong>ZIP</strong> archives:
              <ul>
                <li>Main blend file must be in root of the archive.</li>
                <li>Ensure that the <strong>ZIP</strong> file is named after the main .blend file. Ex: "Dog
                  Cartoon.blend" in
                  "Dog Cartoon.zip"
                </li>
                <li>Textures and assets must be in their own separate folders.</li>
                <li>The paths to all textures and assets must be relative.</li>
              </ul>
            </li>
            <li>Set the output file to an <strong>image</strong>, for example <strong>PNG</strong>.</li>
            <li>Verify that the uploaded file has been saved in one of the blender versions present on the server:
              <ul>
              </ul>
            </li>
          </ul>
          <div class="text-center">
            <p-fileUpload #fileUpload (onError)="resetUpload(fileUpload)" (onUpload)="loadProjectDetails($event)"
                          [withCredentials]="true"
                          accept=".blend,.zip" chooseLabel="Browse"
                          mode="basic"
                          name="project_file"
                          url="/api/v1/project/upload_project_file/"></p-fileUpload>
          </div>
        </div>
        <!--        Project Details Page-->
        <div *ngIf="projectWizardProgress == ProjectWizardProgress.PROJECT_DETAILS" class="pt-2">
          <div class="row py-1">
            <div class="col-md-12">
              <label for="projectName">Project Name</label>
              <input [(ngModel)]="projectForm.projectName"
                     class="form-control form-control-sm"
                     id="projectName"
                     name="projectName"
                     placeholder="Project Name"
                     required type="text"/>
            </div>

          </div>

          <div class="row py-1">
            <div class="col-md-12">
              <label for="blenderVersion">Blender Version for Rendering</label>
              <select [(ngModel)]="projectForm.projectSettings.blenderVersion" class="form-select form-select-sm"
                      id="blenderVersion">
                <option *ngFor="let version of projectForm.installedBlenderVersions"
                        ngValue="{{version}}">{{version}}</option>
              </select>
            </div>
          </div>
          <div class="row py-2">
            <div class="col-md-6">
              <label for="projectTypeGroup">Project Type</label>
              <div class="form-check pt-1" id="projectTypeGroup"
                   ngbTooltip="Sethlans will act as a server and as a node" placement="left">
                <label class="form-check-label">
                  <input [(ngModel)]="projectForm.projectType"
                         [value]="ProjectType.STILL_IMAGE"
                         class="form-check-input"
                         name="projectType"
                         required
                         type="radio">Still Image
                </label>
              </div>
              <div class="form-check" ngbTooltip="Sethlans will be configured as a server" placement="left">
                <label class="form-check-label">
                  <input (click)="setToPNG()"
                         [(ngModel)]="projectForm.projectType"
                         [value]="ProjectType.ANIMATION"
                         class="form-check-input"
                         name="projectType"
                         required
                         type="radio">Animation
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <label for="outputFormat">Image Output Format</label>
              <select [(ngModel)]="projectForm.projectSettings.imageSettings.imageOutputFormat"
                      class="form-select form-select-sm pt-1"
                      id="outputFormat">
                <option [value]="ImageOutputFormat.PNG">PNG</option>
                <option *ngIf="projectForm.projectType == ProjectType.STILL_IMAGE" [value]="ImageOutputFormat.HDR">HDR
                </option>
                <option *ngIf="projectForm.projectType == ProjectType.STILL_IMAGE" [value]="ImageOutputFormat.TIFF">
                  TIFF
                </option>
              </select>
            </div>
          </div>
          <div class="row py-2">
            <div class="col-md-4">
              <label for="startFrame">Start Frame</label>
              <input [(ngModel)]="projectForm.projectSettings.startFrame" class="form-control form-control-sm"
                     id="startFrame" name="startFrame"
                     pattern="^[1-9][0-9]*$" type="number">
            </div>
            <div class="col-md-4">
              <label for="endFrame">End Frame</label>
              <input [(ngModel)]="projectForm.projectSettings.endFrame" class="form-control form-control-sm"
                     id="endFrame" name="endFrame"
                     pattern="^[1-9][0-9]*$" type="number">
            </div>
            <div class="col-md-4">
              <label for="stepFrame">Step Frame</label>
              <input [(ngModel)]="projectForm.projectSettings.stepFrame" class="form-control form-control-sm"
                     id="stepFrame" name="stepFrame"
                     pattern="^[1-9][0-9]*$" type="number">
            </div>
          </div>
        </div>
        <!--        Settings Page-->
        <div *ngIf="projectWizardProgress == ProjectWizardProgress.SETTINGS">
          <ul class="nav nav-tabs">
            <li class="nav-item">
                <span (click)="showVideoSettings=false"
                      [ngClass]="showVideoSettings
                      ? '' : 'active'"
                      class="nav-link"
                >Render Settings</span>
            </li>
            <li *ngIf="projectForm.projectType == ProjectType.ANIMATION" class="nav-item">
                <span (click)="showVideoSettings=true"
                      [ngClass]="showVideoSettings
                      ? 'active' : ''"
                      class="nav-link"
                >Video Settings</span>
            </li>
          </ul>
          <div [hidden]="showVideoSettings" class="pt-2">
            <div class="row py-1">
              <div class="col-md-12">
                <label for="renderingEngine">Rendering Engine</label>
                <select [(ngModel)]="projectForm.projectSettings.blenderEngine" class="form-select form-select-sm"
                        id="renderingEngine">
                  <option [value]="BlenderEngine.CYCLES">CYCLES</option>
                  <option *ngIf="projectForm.projectSettings.blenderVersion != '2.79b'"
                          [value]="BlenderEngine.BLENDER_EEVEE">EEVEE
                  </option>
                  <option *ngIf="projectForm.projectSettings.blenderVersion == '2.79b'"
                          [value]="BlenderEngine.BLENDER_RENDER">BLENDER RENDER
                  </option>
                </select>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-md-12">
                <label for="computeOn">Compute On</label>
                <select [(ngModel)]="projectForm.projectSettings.computeOn" class="form-select form-select-sm"
                        id="computeOn">
                  <option [value]="ComputeOn.HYBRID">HYBRID</option>
                  <option
                    [value]="ComputeOn.CPU">CPU
                  </option>
                  <option
                    [value]="ComputeOn.GPU">GPU
                  </option>
                </select>
              </div>
            </div>
            <div class="row py-2">
              <div class="col-md-12">
                <label for="samples">Samples</label>
                <input [(ngModel)]="projectForm.projectSettings.samples" class="form-control form-control-sm"
                       id="samples" name="samples"
                       pattern="^[1-9][0-9]*$" type="number">
              </div>
            </div>
            <div class="row py-2">
              <div class="col-md-4">
                <label>Render Resolution</label>
                <div class="input-group">
                  <input [(ngModel)]="projectForm.projectSettings.imageSettings.resolutionX" class="form-control"
                         id="resolutionX" name="resolution"
                         pattern="^[1-9][0-9]*$" type="number">
                  <span class="input-group-text">x</span>
                  <input [(ngModel)]="projectForm.projectSettings.imageSettings.resolutionY" class="form-control"
                         id="resolutionY" name="resolutionY"
                         pattern="^[1-9][0-9]*$" type="number">
                </div>

              </div>
              <div class="col-md-4">
                <label>Render Scaling</label>
                <div class="input-group">
                  <input [(ngModel)]="projectForm.projectSettings.imageSettings.resPercentage" class="form-control"
                         id="resolutionPercentage" name="resolutionPercentage"
                         pattern="^[1-9][0-9]*$" type="number">
                  <span class="input-group-text">%</span>
                </div>
              </div>
              <div class="row pt-3">
                <div class="col-md-4">
                  <div class="form-check form-switch pt-1">
                    <input [(ngModel)]="projectForm.projectSettings.useParts" class="form-check-input" id="useParts"
                           role="switch"
                           type="checkbox">
                    <label class="form-check-label" for="useParts">Use Parts For Rendering</label>
                  </div>
                </div>
                <div class="row pt-1">
                  <div class="col-md-4">
                    <div class="pt-1">
                      <label for="partsPerFrame">Parts Per Frame</label>
                      <select [(ngModel)]="projectForm.projectSettings.partsPerFrame"
                              [disabled]="!projectForm.projectSettings.useParts" class="form-select form-select-sm"
                              id="partsPerFrame">
                        <option value="4">4</option>
                        <option value="9">9</option>
                        <option value="16">16</option>
                        <option value="25">25</option>
                        <option value="36">36</option>
                        <option value="49">49</option>
                        <option value="64">64</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div [hidden]="!showVideoSettings" class="pt-2">
            <div class="row py-1">
            </div>
          </div>
        </div>


      </div>
      <div class="card-footer">
        <button (click)="cancelProjectWizard()"
                *ngIf="projectWizardProgress == ProjectWizardProgress.UPLOAD || projectWizardProgress == ProjectWizardProgress.PROJECT_DETAILS"
                class="btn btn-outline-dark float-start">Cancel
        </button>
        <button (click)="previous()"
                *ngIf="projectWizardProgress == ProjectWizardProgress.SETTINGS || projectWizardProgress == ProjectWizardProgress.SUMMARY"
                class="btn btn-outline-dark float-start">Previous
        </button>
        <button (click)="next()"
                *ngIf="projectWizardProgress != ProjectWizardProgress.UPLOAD"
                class="btn btn-outline-primary float-end">
          Next
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="projectWizardScreen">
  Debugging:
  <pre>{{ projectForm | json }}</pre>
</div>


