<!DOCTYPE html>
<!-- Namespaces -->
<html lang="en" class="layout-pf layout-pf-fixed" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS Libraries -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.22.1/css/patternfly.min.css"
          th:href="@{/bower/patternfly/dist/css/patternfly.min.css}"
          rel="stylesheet" media="screen, print">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.22.1/css/patternfly-additions.min.css"
          th:href="@{/bower/patternfly/dist/css/patternfly-additions.min.css}"
          rel="stylesheet" media="screen, print">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.css"
          th:href="@{/bower/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css}"
          rel="stylesheet" media="screen, print">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.8/css/fileinput.min.css"
          th:href="@{/bower/bootstrap-fileinput/css/fileinput.min.css}"
          media="screen, print" rel="stylesheet" type="text/css">
    <style>
        body {
            background-color: #EAEAEA;
        }

        .vertical-alignment-helper {
            display: table;
            height: 100%;
            width: 100%;
            pointer-events: none; /* This makes sure that we can still click outside of the modal to close it */
        }

        .vertical-align-center {
            /* To center vertically */
            display: table-cell;
            vertical-align: middle;
            pointer-events: none;
        }

        .modal-content {
            /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
            width: inherit;
            height: inherit;
            /* To center horizontally */
            margin: 0 auto;
            pointer-events: all;
        }

        .form-template {
            padding: 40px 15px;
        }
    </style>

    <!--Favicon -->
    <link rel="shortcut icon" href="../images/favicon.png" th:href="@{/images/favicon.png}">

    <title>Settings</title>
</head>
<body>
<!-- Nav Bar Fragment -->
<nav class="navbar navbar-pf-vertical" th:replace="fragments/nav :: navbar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">
            <img class="navbar-brand-icon" src="//assets/img/logo-alt.svg" alt=""/><img class="navbar-brand-name"
                                                                                        src="//assets/img/brand-alt.svg"
                                                                                        alt="PatternFly Enterprise Application"/>
        </a>
    </div>
    <nav class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="#" target="_blank" class="nav-item-iconic nav-item-iconic-new-window"><span title="Launch"
                                                                                                     class="fa fa-external-link"></span></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-iconic">
            <li class="dropdown">
                <a class="dropdown-toggle nav-item-iconic" id="notifications" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true">
                    <span title="Notifications" class="fa pficon-flag"></span>
                    <span class="badge">2</span>
                </a>
                <div class="dropdown-menu infotip bottom-right">
                    <div class="arrow"></div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="i pficon pficon-info"></span> Modified Datasources ExampleDS
                        </li>
                        <li class="list-group-item">
                            <span class="i pficon pficon-info"></span> Error: System Failure
                        </li>
                    </ul>
                    <div class="footer">
                        <a>Clear Messages</a>
                    </div>
                </div>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle nav-item-iconic" id="dropdownMenu1" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true">
                    <span title="Help" class="fa pficon-help"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle nav-item-iconic" id="dropdownMenu2" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true">
                    <span title="Username" class="fa pficon-user"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href="#">Preferences</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</nav>
<!--/.navbar-->
<style>
    .sidebarfont {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-size:14px;
        color:black;
    }
</style>
<div class="container">
    <div class="table-responsive col-md-3">
        <br/>
        <table class="table table-bordered table-hover">
            <thead class="thead-default">
            <tr>
                <th>System Settings</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a style="color:black" class=" fa pficon-settings" href="/settings">&nbsp;<span class="sidebarfont">Settings Home</span></a>
                </td>
            </tr>
            <tr>
                <td>
                    <a style="color:black" class=" fa pficon-users" href="/settings/users">&nbsp;<span class="sidebarfont">Users</span></a>
                </td>
            </tr>
            <!--/*@thymesVar id="sethlansmode" type="java.lang.String"*/-->
            <tr th:if="${sethlansmode == 'SERVER' || sethlansmode == 'DUAL'}">
                <td>
                    <a style="color:black" class=" fa pficon-container-node" href="/settings/nodes">&nbsp;<span class="sidebarfont">Nodes</span></a>
                </td>
            </tr>
            <tr>

            </tr>
            </tbody>
        </table>
        <table class="table table-bordered table-hover">
            <thead class="thead-default">
            <tr>
                <th>Blender</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                <a style="color:black" class=" fa pficon-bundle" href="#">&nbsp;&nbsp;<span class="sidebarfont">Blender Versions</span></a>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered table-hover">
            <thead class="thead-default">
            <tr>
                <th>Sethlans Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a style="color:black" class=" fa fa-power-off" href="/shutdown">&nbsp;&nbsp;<span class="sidebarfont">Shutdown</span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-9">
        <br/>

        <div th:if="${settings_option.equals('home')}">
            <main th:replace="fragments/settings_home :: settings_home">
                <!--Replaced By Fragment-->  </main>
        </div>
        <div th:if="${settings_option.equals('users')}">
            <main th:replace="fragments/settings_users :: settings_users">
                <!--Replaced By Fragment-->  </main>
        </div>
        <div th:if="${settings_option.equals('nodes')}">
            <main th:replace="fragments/settings_nodes :: settings_nodes">
                <!--Replaced By Fragment-->  </main>
        </div>
    </div>
</div>
<!-- Footer Fragment -->
<div class="content"></div>
<footer class="footer" th:replace="fragments/footer :: footer">
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #000;
        }
    </style>
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>

<!-- Javascript Libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"
        th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.22.1/js/patternfly.min.js"
        th:src="@{/bower/patternfly/dist/js/patternfly.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"
        th:src="@{/bower/c3/c3.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"
        th:src="@{/bower/d3/d3.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"
        th:src="@{/bower/matchHeight/dist/jquery.matchHeight-min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js"
        th:src="@{/bower/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.8/js/fileinput.min.js"
        th:src="@{/bower/bootstrap-fileinput/js/fileinput.min.js}"></script>


<!-- Local Javascript-->
<script>
    // Tooltip Javascript
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<!-- Page Javascript -->
</body>
</html>