<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache" level="WARN"/>
    <logger name="httpclient" level="WARN"/>
    <logger name="io.restassured" level="WARN"/>
    <logger name="reactor" level="WARN" />
    <logger name="io.netty" level="WARN" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>