<div *ngIf="nodeWizardScreen == false" class="row pb-1">
  <div class="col-md-10 m-auto">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
            <h4 style="font-family: 'Fjalla One', sans-serif">Nodes</h4>
          </div>
          <div class="col-md-4">
            <button (click)="startNodeWizard()" class="ml-2 btn btn-outline-dark float-end">
              <fa-icon [icon]="faPlus"></fa-icon>
              <span class="ms-2">Add Node(s)</span>
            </button>
            <!--            <button class="btn btn-outline-dark float-end me-2">-->
            <!--              <fa-icon [icon]="faDownload"></fa-icon>-->
            <!--              <span class="ms-2">Get Logs</span>-->
            <!--            </button>-->
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="col-md-12 m-auto">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Status</th>
              <th scope="col">Hostname</th>
              <th scope="col">IP Address</th>
              <th scope="col">Port</th>
              <th scope="col">OS</th>
              <th scope="col">Compute</th>
              <th scope="col">CPU</th>
              <th scope="col">Core(s)</th>
              <th scope="col">GPU(s)</th>
              <th scope="col">Slots</th>
              <th scope="col">Benchmark State</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <p *ngIf="nodeList.length == 0">No Nodes Configured</p>
            <tr *ngFor="let node of nodeList">
              <td>
                <span *ngIf="node.active" class="text-success">Active</span>
                <span *ngIf="node.active == false" class="text-warning">Paused</span>
              </td>
              <td>{{node.hostname}}</td>
              <td>{{node.ipAddress}}</td>
              <td>{{node.networkPort}}</td>
              <td>{{node.os}}</td>
              <td>{{node.nodeType}}</td>
              <td>{{node.cpu.name}}</td>
              <td>{{node.selectedCores}}</td>
              <td><span *ngFor="let gpu of node.selectedGPUs">{{gpu.model}}<br/></span></td>
              <td>{{node.totalRenderingSlots}}</td>
              <td>N/A</td>
              <td>N/A</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="nodeWizardScreen" class="row pb-1">
  <div class="col-md-8 m-auto">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
            <h4 style="font-family: 'Fjalla One', sans-serif">Add Node Wizard</h4>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul class="nav nav-tabs justify-content-between pb-3">
          <li>
            <button [ngClass]="nodeWizardProgress == NodeWizardProgress.START
                      ? 'btn-outline-primary' : 'btn-outline-dark'"
                    class="btn btn-lg btn-circle"
                    type="button">
              <fa-icon [icon]="faFlagCheckered"></fa-icon>
            </button>
          </li>
          <li>
            <button [ngClass]="nodeWizardProgress == NodeWizardProgress.ADD
                      ? 'btn-outline-primary' : 'btn-outline-dark'"
                    class="btn btn-lg btn-circle"
                    type="button">
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>
          </li>
          <li>
            <button [ngClass]="nodeWizardProgress == NodeWizardProgress.SUMMARY
                      ? 'btn-outline-primary' : 'btn-outline-dark'"
                    class="btn btn-lg btn-circle"
                    type="button">
              <fa-icon [icon]="faRectangleList"></fa-icon>
            </button>
          </li>
          <li>
            <button [ngClass]="nodeWizardProgress == NodeWizardProgress.FINISHED
                      ? 'btn-outline-primary' : 'btn-outline-dark'"
                    class="btn btn-lg btn-circle"
                    type="button">
              <fa-icon [icon]="faCheck"></fa-icon>
            </button>
          </li>
        </ul>
        <div *ngIf="nodeWizardProgress == NodeWizardProgress.START" class="pt-2">
          <div class="alert alert-info" role="alert">
            <p class="mb-0 text-center">Server API Key:<span class="ms-2"><strong>{{sethlansAPIKey}}</strong></span>
              <button class="ms-2 btn btn-outline-secondary btn-sm" ngbTooltip="Copy to Clipboard" placement="top">
                <fa-icon [icon]="faClipboard"></fa-icon>
              </button>
            </p>
          </div>
          <h6>Which action would you like to perform?</h6>
          <div class="col-md-4 ms-1">
            <div class="form-check" ngbTooltip="Scan LAN for Nodes" placement="left">
              <label class="form-check-label">
                <input [(ngModel)]="nodeWizardType"
                       [value]="NodeWizardType.SCAN"
                       class="form-check-input"
                       name="type"
                       required
                       type="radio">Scan LAN for Node(s)
              </label>
            </div>
            <div class="form-check" ngbTooltip="Add Nodes via IP Address and Port" placement="left">
              <label class="form-check-label">
                <input [(ngModel)]="nodeWizardType"
                       [value]="NodeWizardType.MANUAL"
                       class="form-check-input"
                       name="type"
                       required
                       type="radio">Add Node(s)
              </label>
            </div>
          </div>
        </div>
        <div *ngIf="nodeWizardProgress == NodeWizardProgress.ADD">
          <div *ngIf="nodeWizardType == NodeWizardType.SCAN" class="pt-2">
            <div *ngIf="scanning" class="alert alert-info text-center" role="alert">
              <span>Scanning for Sethlans Nodes on LAN</span>
              <div aria-hidden="true" class="ms-2 spinner-border spinner-border-sm text-center" role="status"></div>
            </div>
          </div>
          <div *ngIf="!scanning">
            <table class="table table-striped">
              <thead>
              <tr>
                <th colspan="col">Hostname</th>
                <th colspan="col">IP Address</th>
                <th colspan="col">Port</th>
                <th colspan="col">OS</th>
                <th colspan="col">Compute</th>
                <th colspan="col">CPU</th>
                <th colspan="col">Core(s)</th>
                <th colspan="col">GPU(s)</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let node of networkNodeList">
                <td>{{node.hostname}}</td>
                <td>{{node.ipAddress}}</td>
                <td>{{node.networkPort}}</td>
                <td>{{node.os}}</td>
                <td>{{node.nodeType}}</td>
                <td>{{node.cpu.name}}</td>
                <td>{{node.selectedCores}}</td>
                <td><span *ngFor="let gpu of node.selectedGPUs">{{gpu.model}}<br/></span></td>

              </tr>
              </tbody>

            </table>

          </div>
          <div *ngIf="nodeWizardType == NodeWizardType.MANUAL">
            Manual
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button (click)="cancelNodeWizard()"
                *ngIf="nodeWizardProgress == NodeWizardProgress.START"
                class="btn btn-outline-dark float-start">Cancel
        </button>
        <button (click)="previous()"
                *ngIf="nodeWizardProgress != NodeWizardProgress.START"
                class="btn btn-outline-dark float-start">Previous
        </button>
        <button (click)="next()"
                class="btn btn-outline-primary float-end">Next
        </button>
      </div>
    </div>
  </div>
</div>

<div>
  Debugging:
  <!--  <pre>{{ nodeList | json }}</pre>-->
  <pre>{{networkNodeList | json}}</pre>
</div>
