<form #nodeForm="ngForm" class="editForm">
  <div class="form-group">
    <label for="computeMethod">Compute Method Selection</label>
    <select class="form-control form-control-sm"
            id="computeMethod"
            name="computeMethod"
            #computeMethod="ngModel"
            (change)="methodSelection()"
            [(ngModel)]="node.computeMethod">
      <option *ngFor="let method of availableComputeMethods">{{method}}</option>
    </select>

  </div>
  <div class="form-group" *ngIf="node.computeMethod !== computeMethodEnum.GPU">
    <label for="cores">Rendering Cores:</label>
    <mat-slider
      id="cores"
      min="1"
      step="1"
      thumb-label="true"
      [max]="totalCores"
      #cores="ngModel"
      name="cores"
      [(ngModel)]="node.cores"></mat-slider>
  </div>
  <div class="form-group" *ngIf="node.computeMethod !== computeMethodEnum.CPU">
    <label>GPU Devices:</label>
    <div *ngFor="let gpu of availableGPUs">
      <input type="checkbox"
             class="form-control-sm"
             name="{{gpu.model}}"
             value="{{gpu.model}}"
             #gpuSelection
             required
             (change)="selected($event, gpu)"/>
      <label class="form-check-label form-control-sm">{{gpu.model}}</label>
    </div>
  </div>
</form>
<nav *ngIf="setupFormData.mode === mode.NODE">
  <button class="btn btn-outline-secondary" (click)="previousStep()">Previous
  </button>
  <button [disabled]="gpuEmpty" class="btn btn-outline-primary float-right" (click)="save()">Next</button>
</nav>
